<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos from camera</title>
</head>
<body>
    <h1>Photos from camera</h1>
    
    <!-- Форма для фильтрации -->
    <form action="/humans" method="get">
        <label for="start_date">Start date:</label>
        <input type="date" id="start_date" name="start_date">
        <label for="end_date">End date:</label>
        <input type="date" id="end_date" name="end_date">
        <button type="submit">Apply a filter</button>
    </form>
    
    <h2>Photos</h2>
    <div>
        {% for photo in photos %}
            <img src="/{{ photo.filename }}" width="300px" />
        {% endfor %}
    </div>
</body>
</html>
