<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фотографии с камеры</title>
</head>
<body>
    <h1>Фотографии с камеры</h1>
    
    <!-- Форма для фильтрации -->
    <form action="/humans" method="get">
        <label for="start_date">Дата начала:</label>
        <input type="date" id="start_date" name="start_date">
        <label for="end_date">Дата конца:</label>
        <input type="date" id="end_date" name="end_date">
        <button type="submit">Применить фильтр</button>
    </form>
    
    <h2>Фотографии</h2>
    <div>
        {% for photo in photos %}
            <img src="/{{ photo.filename }}" width="300px" />
        {% endfor %}
    </div>
</body>
</html>
